@import "variables.scss";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container.pokedex-container{
  display: flex;
  padding: 0.5rem;
  width: 100vw;
  max-width: 800px;
  height: 100vh;
}

.panel.pokedex-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.panel-block.pokedex-content {
  flex-grow: 2;
  height: 70%
}

.panel-block.pokedex-footer {
  line-height: 1.25;
  padding: 0.75e 1emm;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.pokeball {
  height: 100%;
  img {
    height: 100%;
  }
}

.card.pokemon-card {
  width: 100%;
  height: 100%;
  .card-content{
    overflow-y: scroll;
    max-height: 90%;
  }
}

.pokemon-sprite-container {
  display: flex;
  justify-content: center;
}

.pokemon-sprite {
  height: 100%;
  width: 100%;
  max-height: 300px;
  max-width: 300px;
  img {
    max-height: 300px;
    max-width: 300px;
  }
}

.field.has-addons {
  width: 100%;
}

.bg-red {
  background-color: $red;
  color: $grey;
}

.bg-grey {
  background-color: $grey;
}