.statbar-label-container {
    display: flex;
    justify-content: space-between;

    .field-label.has-text-left{
        margin-left: 0.5rem;
    }

    .field-label.has-text-right{
        margin-right: 0.5rem;
    }
}